
<%- include('./components/head.ejs') -%>


<div class="error-container">
    <img src="static/images/error.png" alt="error icon">
    <p>There was a error loading the page. PLease try to refresh</p>
</div>


<%- include('./components/footer.ejs') -%>