<%- include('./components/head.ejs') -%>

    <section class="errorContainer">
        <img class="errorImage" src="images/png/error.png" alt="Error image"/>
        <h1 class="errorH1">Error 404</h1>
        <h2 class="errorH2">Deze pagina bestaat niet</h2>
    </section>
<%- include('./components/footer.ejs') -%>