
<%- include('./components/head.ejs') -%>


<div id="spinner-container">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>


<%- include('./components/footer.ejs') -%>