<%- include('./components/head.ejs') -%>
<section class="succesfulPage">
    <h3>Je hebt een succesvol een reservering gemaakt!</h3>
    <a href="/">Terug naar home</a>
    <a href="/verify">Beheer reservering</a>
</section>
<%- include('./components/footer.ejs') -%>