<%- include('./components/head.ejs') -%>
<div class="container">
    <section class="successfulPage">
        <h1>Je hebt succesvol een reservering gemaakt!</h1>
        <a class="button_select" href="/verify">Beheer reservering</a>
        <a class="button_select2" href="/">Terug naar home</a>
    </section>
</div>
<%- include('./components/footer.ejs') -%>